server/auto1.wsdl

<?xml version ='1.1' encoding ='UTF-8' ?> 
<definitions name='Auto' 
    targetNamespace='http://http://192.168.0.15/~user4/PHP/autoshop/server' 
    xmlns:tns='http://192.168.0.15/~user4/PHP/autoshop/server ' 
  xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
  xmlns:xsd='http://www.w3.org/2001/XMLSchema' 
  xmlns:soapenc='http://schemas.xmlsoap.org/soap/encoding/' 
  xmlns:wsdl='http://schemas.xmlsoap.org/wsdl/' 
  xmlns='http://schemas.xmlsoap.org/wsdl/'> 
<types>
    <xsd:schema elementFormDefault="qualified" targetNamespace='http://192.168.0.15/~user4/PHP/autoshop/server'>
		<xsd:complexType name="InfoAuto">
			<xsd:sequence>
				<xsd:element name="model" type="xsd:string"/>
				<xsd:element name="year" type="xsd:string"/>
				<xsd:element name="color" type="xsd:string"/>
				<xsd:element name="speed" type="xsd:integer"/>
				<xsd:element name="volume" type="xsd:integer"/>
				<xsd:element name="price" type="xsd:float"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:schema>
</types>
<message name='getCarsByCatRequest'> 
	<part name='id' type='xsd:integer'/> 
</message> 
<message name='getCarsByCatResponse'> 
	<part name='Result' type='xsd:array'/> 
</message>
<message name='insertOrderRequest'> 
	<part name='data' type='xsd:array'/> 
</message> 
<message name='insertOrderResponse'> 
	<part name='Result' type='xsd:integer'/> 
</message>
<message name='getImageRequest'> 
	<part name='id' type='xsd:integer'/> 
</message> 
<message name='getImageResponse'> 
	<part name='Result' type='xsd:array'/> 
</message>
<message name='getGalaryRequest'> 
	<part name='id' type='xsd:integer'/> 
</message> 
<message name='getGalaryResponse'> 
	<part name='Result' type='xsd:array'/> 
</message>
<message name='getSearchResultRequest'> 
	<part name='obj' type='tns:InfoAuto'/> 
</message> 
<message name='getSearchResultResponse'> 
	<part name='Result' type='xsd:array'/> 
</message>
<message name='getInfoAutoRequest'> 
	<part name='id' type='xsd:integer'/> 
</message> 
<message name='getInfoAutoResponse'> 
	<part name='Result' type='tns:InfoAuto'/> 
</message>
<message name='getCategoriesResponse'> 
	<part name='Result' type='xsd:array'/> 
</message>
<message name='getCarsResponse'> 
	<part name='Result' type='xsd:array'/> 
</message>
<portType name='AutoPortType'> 
	<operation name='getCarsByCat'> 
		<input message='tns:getCarsByCatRequest'/> 
		<output message='tns:getCarsByCatResponse'/> 
	</operation>
	<operation name='getSearchResult'> 
		<input message='tns:getSearchResultRequest'/> 
		<output message='tns:getSearchResultResponse'/> 
	</operation>
	<operation name='insertOrder'> 
		<input message='tns:insertOrderRequest'/> 
		<output message='tns:insertOrderResponse'/> 
	</operation> 
	<operation name='getImage'> 
		<input message='tns:getImageRequest'/> 
		<output message='tns:getImageResponse'/> 
	</operation>
	<operation name='getGalary'> 
		<input message='tns:getGalaryRequest'/> 
		<output message='tns:getGalaryResponse'/> 
	</operation>
	<operation name='getInfoAuto'> 
		<input message='tns:getInfoAutoRequest'/> 
		<output message='tns:getInfoAutoResponse'/> 
	</operation>  
	<operation name='getCategories'> 
		<output message='tns:getCategoriesResponse'/> 
	</operation> 
	<operation name='getCars'> 
		<output message='tns:getCarsResponse'/> 
	</operation> 
</portType> 
<binding name='AutoBinding' type='tns:AutoPortType'> 
	<soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/> 
		<operation name='getCarsByCat'> 
			<soap:operation soapAction='urn:xmethods-delayed-quotes#getCarsByCat'/> 
				<input> 
					<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
				</input> 
				<output> 
					<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
				</output> 
		</operation>
		<operation name='getSearchResult'> 
			<soap:operation soapAction='urn:xmethods-delayed-quotes#getSearchResult'/> 
				<input> 
					<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
				</input> 
				<output> 
					<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
				</output> 
		</operation>
		<operation name='insertOrder'> 
			<soap:operation soapAction='urn:xmethods-delayed-quotes#insertOrder'/> 
				<input> 
					<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
				</input> 
				<output> 
					<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
				</output> 
		</operation> 
		<operation name='getImage'> 
			<soap:operation soapAction='urn:xmethods-delayed-quotes#getImage'/> 
				<input> 
					<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
				</input> 
				<output> 
					<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
				</output> 
		</operation>
		<operation name='getGalary'> 
			<soap:operation soapAction='urn:xmethods-delayed-quotes#getGalary'/> 
				<input> 
					<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
				</input> 
				<output> 
					<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
				</output> 
		</operation> 
		<operation name='getInfoAuto'> 
			<soap:operation soapAction='urn:xmethods-delayed-quotes#getInfoAuto'/> 
				<input> 
					<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
				</input> 
				<output> 
					<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
				</output> 
		</operation> 
		<operation name='getCategories'> 
			<soap:operation soapAction='urn:xmethods-delayed-quotes#getCategories'/>
				<output> 
					<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
				</output> 
		</operation> 
		<operation name='getCars'> 
			<soap:operation soapAction='urn:xmethods-delayed-quotes#getCars'/>
				<output> 
					<soap:body use='encoded' namespace='urn:xmethods-delayed-quotes' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/> 
				</output> 
		</operation> 
</binding> 
<service name='AutoService'> 
	<port name='AutoPort' binding='AutoBinding'> 
        <soap:address location='http://192.168.0.15/~user4/PHP/autoshop/server/server.php'/> 
	</port> 
</service> 
</definitions>
